<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>    
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
        <link rel="stylesheet" href="../../styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/6cfb21434c.js" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/a199c68c5e.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
     </head>
<body>
    <!--front page-->
    <div class="services-top-container">
      <div class="redirect-buttons">
         <a routerLink="/digitalmarketing"><button>Digital Marketing</button></a>
         <a routerLink="/webappdevelopment"><button>Web Development</button></a>
         <a routerLink="/graphicuidesign"><button>Graphic Design</button></a>
         <a routerLink="/consulting"><button>Consulting</button></a>
         <a routerLink="/influencermarketing"><button>Influencer Marketing</button></a>
     </div>
        <div class="content">
           <div class="row">
              <div class="column left col-12 col-lg-6">
                 <h1>Graphic UI Design</h1>
                 <p>Our digital marketing services are tailored to enhance your online presence and drive engagement. We utilize the latest strategies in SEO, social media marketing, content marketing, and paid advertising to reach your target audience effectively and boost your brand visibility.</p>
              </div>
              <div class="column middle col-12 col-lg-3">
                 <div class="included">
                    <h2>INCLUDED:</h2>
                    <ul>
                       <li>Search Engine Optimization</li>
                       <li>Pay-Per-Click</li>
                       <li>Social Media Marketing</li>
                       <li>Content Marketing</li>
                       <li>Email Marketing</li>
                    </ul>
                 </div>
              </div>
              <div class="column end col-12 col-lg-3">
                 <div class="start-project-container">
                    <p>Interested? <br>Let's connect and</p>
                    <button>Start Project</button>
                 </div>
              </div>
           </div>
        </div>
    </div>

    <!--services-->
    <div class="services-bottom-container">
        <div class="arrow d-flex justify-content-center">
            <img src="../assets/images/hand icon.png"  class="arr-right"/>
            <h1 class="services-ser">Overview</h1>
        </div>
        <p class="overview-description">Our digital marketing services are designed to enhance your online presence and drive meaningful engagement with your target audience. We employ cutting-edge strategies in SEO, social media marketing, content marketing, and paid advertising to boost your brand visibility and achieve your business goals. With our expertise, you can expect increased website traffic, higher engagement rates, and a better return on investment.</p>
        <div class="arrow d-flex justify-content-center" style="margin-left: 40px;">
            <img src="../assets/images/hand icon.png"  class="arr-right"/>
            <h1 class="services-ser">Services</h1>
        </div>
        <h1 class="bottom-container-heading">
           How <span style="color:#F66136;font-weight: bold;">IAM</span> Can Help
        </h1>
        <div class="container d-flex flex-row">
         <div class="row">
             <div class="col-12 col-md-6">
                 <div class="services-card-container d-flex flex-column">
                     <div class="service-card">
                         <h1>
                             Branding
                         </h1>
                         <p>
                             We create cohesive and memorable brand identities that effectively communicate your brand's values and personality. Our services include brand strategy, visual identity and brand guidelines.
                         </p>
                     </div>
                     <div class="service-card-buttons mb-4">
                         <button>
                             Strong Recognition
                         </button>
                         <button>
                             Consistent Identity
                         </button>
                         <button>
                             Professional Appearance
                         </button>
                     </div><br><br><br><br><br>
                     <div class="know-more-container text-right">
                         <h2>
                             Discover More About Our Service
                         </h2>
                         <a routerLink="/graphicuidesign/branding"><button>Know More</button></a>
                     </div>
                 </div>
             </div>

             <div class="col-12 col-md-6">
                 <div class="services-card-container d-flex flex-column">
                     <div class="service-card">
                         <h1>
                             Logo Design
                         </h1>
                         <p>
                             Our logo design services focus on creating unique and memorable logos that represent your brand's essence. We ensure logo stands out and leaves a lasting impression.
                         </p>
                     </div>
                     <div class="service-card-buttons mb-4">
                         <button>
                             Instant Recognition
                         </button>
                         <button>
                             Unique Identity
                         </button>
                         <br>
                         <button>
                             Versatile Design
                         </button>
                     </div><br><br><br><br><br><br>
                     <div class="know-more-container text-right">
                         <h2>
                             Discover More About Our Service
                         </h2>
                         <a routerLink="/graphicuidesign/logodesign"><button>Know More</button></a>
                     </div>
                 </div>
             </div>

             <div class="col-12 col-md-6">
                 <div class="services-card-container d-flex flex-column">
                     <div class="service-card">
                         <h1>
                             UI/UX Design
                         </h1>
                         <p>
                             Our UI/UX design service focuses on creating user-friendly and visually appealing interfaces for both websites and applications. We prioritize user experience, ensuring your product is easy to navigate and engaging.
                         </p>
                     </div>
                     <div class="service-card-buttons mb-4">
                         <button>
                             Enhanced Usability
                         </button>
                         <button>
                             User engagement
                         </button>
                         <button>
                             Consistent Experience
                         </button>
                     </div><br><br><br><br><br>
                     <div class="know-more-container text-right">
                         <h2>
                             Discover More About Our Service
                         </h2>
                         <a routerLink="/graphicuidesign/uiuxdesign"><button>Know More</button></a>
                     </div>
                 </div>
             </div>
         </div>
     </div>
    </div>

    <!--case studies-->
    <div>
        <div class="arrow d-flex justify-content-center" style="margin-left: 40px;">
            <img src="../assets/images/hand icon.png"  class="arr-right"/>
            <h1 class="services-ser">Case Studies</h1>
        </div>
        <div class="d-flex flex-row justify-content-center" style="margin-bottom: 100px;">
           <div class="case-studies-container">
              <img src="https://st2.depositphotos.com/2119479/7679/i/950/depositphotos_76796041-stock-photo-digital-marketing.jpg" style="width:100%">
              <!-- <button class="explore-button">Explore <i class="fa-solid fa-arrow-right arr-right right"></i></button> -->
           </div>
        </div>
    </div>
    
    <!--enquiry form-->
    <div class="enquiry-container mt-5" style="margin-bottom: 12vw;">
        <div class="enquiry-form">
            <div class="arrow d-flex justify-content-center" style="margin-left: 40px;">
                <img src="../assets/images/hand icon.png"  class="arr-right"/>
                <h1 class="services-ser">Enquiry</h1>
            </div>
           <div class="left-side">
              <p>Ready to elevate your <br> brand online? <br>
                 <span class="span">Get a Free Consultation<br> Today!</span>
              </p>
           </div>
           <div class="enquiry-background-container">
              <h1 class="enquiry-heading">Let's Collab <i class="fa-solid fa-arrow-right" style="color: white;"></i></h1>
           </div>
        </div>
        <div class="enquiry-card-container" style="margin-top: 13vw; margin-bottom: 10vw;">
           <form>
              <h2>I am Interested in</h2>
              <div class="interest-buttons">
                 <div>
                    <button type="button"><span> Marketing</span></button>
                    <button type="button"><span>Web Development</span></button>
                 </div>
                 <div>
                    <button type="button"><span>Graphic Design</span></button>
                    <button type="button"><span>Consulting</span></button>
                    <button type="button"><span>Influencer Marketing</span></button>
                 </div>
              </div>
              <label for="name">I am</label>
              <input type="text" id="name" name="name" placeholder="John" required>
              <label for="Phone">Phone number</label>
              <input type="phone" id="phone" name="phone" required>
              <label for="email">Email <span style="color:rgb(109, 109, 108);">(Optional)</span></label>
              <input type="email" id="email" name="email" placeholder="iam@gmail.com">
              <button type="submit" class="enquiry-send-button"><span>Send</span></button>
           </form>
        </div>
    </div>
    <!--footer-->
   </body>
</html>
