<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design and Development Card</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/6cfb21434c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../styles.css">
    <!-- <script src="index.js" defer></script> -->
    
</head>
<body>
<div>
<!--front-page-->

    <div class="knowmore-top-contaner">
        <div class="redirect-buttons">
            <a routerLink="/graphicuidesign/branding"><button>Branding</button></a>
            <a routerLink="/graphicuidesign/logodesign"><button>Logo Design</button></a>
            <a routerLink="/graphicuidesign/uiuxdesign"><button>UI/UX Design</button></a>
        </div>
        <h1>Creating Memorable <br><span class="shine">Logo Design</span> Identities</h1>
    </div>

    <div class="knowmore-bottom-contaner">
        <div class="arrow d-flex justify-content-center">
            <img src="assets/images/hand icon.png"  class="arr-right"/>
            <h1 class="services-ser">Overview</h1>
        </div> 
        <p class="overview-description text-center">At <b>IAM Digipro</b>, we specialize in creating distinctive and memorable brand identities that resonate with your target audience and strengthen brand recognition.</p>

        <div class="container0 d-flex flex-row">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="knowmore-service-card" style="margin-right: 10%;">
                        <div class="arrow d-flex justify-content-center">
                            <img src="assets/images/hand icon.png"  class="arr-right"/>
                            <h1 class="services-ser">Why Invest in a Professional Logo Design?</h1>
                        </div>

                        <div class="mb-5">
                            <!-- <h1 class="overview-description pb-4"><b>Investing in a professional logo design is crucial for your business because:</b></h1> -->
                            <ul class="overview-description">
                                <li class="pb-3"><b>First Impressions Matter:</b> Your logo is often the first thing potential customers see. A well-designed logo can create a positive and lasting impression.</li>
                                <li class="pb-3"><b>Brand Recognition:</b> A unique and memorable logo helps in building strong brand recognition.</li>
                                <li class="pb-3"><b>Credibility and Trust:</b> Professional design conveys credibility and can foster trust among your audience.</li>
                                <li class="pb-3"><b>Versatility:</b> A professionally designed logo is versatile and can be effectively used across various media and formats.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <img src="assets/images/Logodesign1.avif" alt="branding-image" class="image"/>
                </div>
            </div>
        </div><br>

        <div class="container0 d-flex flex-row">
            <div class="row">
                <div class="col-12 col-lg-6 d-none d-lg-block">
                    <img src="assets/images/Logodesign2.avif" alt="branding-image" class="image"/>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="knowmore-service-card">
                        <div class="arrow">
                            <img src="assets/images/hand icon.png"  class="arr-right"/>
                            <h1 class="services-ser">What IAM Digipro Offers with Our Logo Design Services</h1>
                        </div>

                        <div class="mb-5">
                            <!-- <h1 class="overview-description pb-4"><b>At IAM Digipro, our logo design services include:</b></h1> -->
                            <ul class="overview-description">
                                <li class="pb-3"><b>Brand Discovery:</b> Understanding your brand's mission, vision, values, and target audience.</li>
                                <li class="pb-3"><b>Concept Development:</b> Generating multiple logo concepts based on brand discovery insights.</li>
                                <li class="pb-3"><b>Design Refinement:</b> Fine-tuning selected concepts to create a polished and impactful logo.</li>
                                <li class="pb-3"><b>Finalization:</b> Delivering the final logo in various formats for different use cases.</li>
                                <li class="pb-3"><b>Brand Guidelines:</b> Providing a comprehensive brand guide to ensure consistent logo usage across all platforms.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 d-block d-lg-none">
                    <img src="assets/images/Logodesign2.avif" alt="branding-image" class="image"/>
                </div>
            </div>
        </div><br>


        <div class="container0 d-flex flex-row">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="knowmore-service-card"  style="margin-right: 10%;">
                        <div class="arrow">
                            <img src="assets/images/hand icon.png"  class="arr-right"/>
                            <h1 class="services-ser">Common Logo Design Challenges</h1>
                        </div>

                        <div class="mb-5">
                            <!-- <h1 class="overview-description pb-4"><b>Overcome common logo design challenges with IAM Digipro:</b></h1> -->
                            <ul class="overview-description">
                                <li class="pb-3"><b>Overcomplication:</b> Creating logos that are too complex or cluttered.</li>
                                <li class="pb-3"><b>Lack of Originality:</b> Avoiding clichéd or generic designs that fail to stand out.</li>
                                <li class="pb-3"><b>Inconsistency:</b> Ensuring the logo works across various applications and sizes.</li>
                                <li class="pb-3"><b>Color and Font Issues:</b> Choosing appropriate colors and fonts that reflect your brand’s identity.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <img src="assets/images/logodesign3.avif" alt="branding-image" class="image"/>
                </div>
            </div>
        </div><br>

        <div class="arrow d-flex justify-content-center">
            <img src="assets/images/hand icon.png"  class="arr-right"/>
            <h1 class="services-ser">Why Choose IAM Digipro for Your Logo Design?</h1>
        </div>
        
        <p class="overview-description text-center"><b>Partner with IAM Digipro for your logo design needs and benefit from:</b></p>
        <div class="d-flex flex-row justify-content-center">
            <div class="commmon-seo-card"><b>Experienced Designers:</b> Our team consists of skilled designers with a deep understanding of branding and design principles.</div>
            <div class="commmon-seo-card"><b>Collaborative Approach:</b> We work closely with you to ensure the final logo aligns with your vision and brand identity.</div>
            <div class="commmon-seo-card"><b>Attention to Detail:</b> Every element of your logo is meticulously crafted to ensure it stands the test of time.</div>
            <div class="commmon-seo-card"><b>Satisfaction Guaranteed:</b> We are committed to delivering designs that exceed your expectations.</div>
        </div>

        <div class="arrow d-flex justify-content-center">
            <img src="assets/images/hand icon.png"  class="arr-right"/>
            <h1 class="services-ser">Logo Design Tools</h1>
        </div>

        <p class="overview-description text-center"><b>Learning Logo Design Tools to Enhance Client success</b></p>
        <div class="d-flex flex-row justify-content-center">
            <img src="assets/images/Semrushlogo.png" alt="tool-Logo" class="seo-tool-logo"/>
            <img src="assets/images/ahrefslogo.webp" alt="tool-Logo" class="seo-tool-logo"/>
            <img src="assets/images/GoogleAnalyticslogo.png" alt="tool-Logo" class="seo-tool-logo"/>
            <img src="assets/images/Mozlogo.png" alt="tool-Logo" class="seo-tool-logo"/>
            <img src="assets/images/screamingfroglogo.png" alt="tool-Logo" class="seo-tool-logo"/>
        </div>

        <p class="overview-description text-center" style="margin-top: 10%;"><i>"A powerful logo is essential for making a strong brand statement. IAM Digipro combines creativity and strategic thinking to deliver logos that not only look great but also encapsulate your brand’s essence. Reach out to us now to start crafting a logo that sets you apart."</i></p>

    </div>
    <!--enquiry form-->


    <div class="enquiry-container mt-5" style="margin-bottom: 12vw;">
        <div class="enquiry-form">
            <div class="arrow d-flex justify-content-center">
                <img src="assets/images/hand icon.png"  class="arr-right"/>
                <h1 class="services-ser">Enquiry</h1>
            </div>

            <div class="left-side">
                <p>Ready to elevate your <br> brand online? <br>
                <span class="span">Get a Free Consultation<br> Today!</span></p>
            </div>
            <div class="enquiry-background-container">
                <h1 class="enquiry-heading">Let's Collab <i class="fa-solid fa-arrow-right" style="color: white;"></i></h1>
            </div>
        </div>
        <div class="enquiry-card-container" style="margin-top: 13vw; margin-bottom: 10vw;">
            <form>
                <h2>I am Interested in</h2>
                <div class="interest-buttons">
                    <div>
                        <button type="button"><span> Marketing</span></button>
                        <button type="button"><span>Web Development</span></button>
                    </div>
                    <div>
                        <button type="button"><span>Graphic Design</span></button>
                        <button type="button"><span>Consulting</span></button>
                        <button type="button"><span>Influencer Marketing</span></button>
                    </div>
                </div>
                <label for="name">I am</label>
                <input type="text" id="name" name="name" placeholder="John" required>
                <label for="Phone">Phone number</label>
                <input type="phone" id="phone" name="phone" required>
                <label for="email">Email <span style="color:rgb(109, 109, 108);">(Optional)</span></label>
                <input type="email" id="email" name="email" placeholder="iam@gmail.com">
                <button type="submit" class="enquiry-send-button"><span>Send</span></button>
            </form>
        </div>
    </div>

    <!-- <div class="wtsapp-icons">
        <a aria-label="Chat on WhatsApp" href="https://wa.me/9381776396"> <i class="fa-brands fa-whatsapp"></i></a>
    </div>


<button class="ct-button" id="openFormButton"><i class="fa-solid fa-circle fa-beat-fade blinking"></i>Let's talk</button>
    
    <div id="formContainer" class="modal-form-container">
        <form class="modal-form">
            
                <i class="fa-solid fa-circle-xmark cl-icon" onclick="closeForm()" style="float: right; color: white;" ></i>
            
            <h1 style="font-size: small; margin: 5px;">I am Interested in</h1>
            <div class="interest-buttons">
                <div>
                    <button type="button" style="font-size: x-small">Digital Marketing</button>
                    <button type="button" style="font-size: x-small">Web Development</button>
                </div>
                <div>
                    <button type="button" style="font-size: x-small">Graphic Design</button>
                    <button type="button" style="font-size: x-small">Consulting</button>
                    <button type="button" style="font-size: x-small">Influencer Marketing</button>
                </div>
            </div>
            <label for="name">I am</label>
            <input type="text" id="name" name="name" placeholder="John" required>
            <label for="phone">Phone number</label>
            <input type="tel" id="phone" name="phone" required>
            <label for="email">Email <span style="color:rgb(109, 109, 108);">(Optional)</span></label>
            <input type="email" id="email" name="email" placeholder="iam@gmail.com">
            <button type="submit" class="enquiry-send-button" style="padding: 10px; margin-right: 15px;font-size: small">Send</button>
        </form>
    </div>

    <script>
    document.getElementById('openFormButton').addEventListener('click', function() {
        var formContainer = document.getElementById('formContainer');
        if (formContainer.style.display === 'none' || formContainer.style.display === '') {
            formContainer.style.display = 'block';
        } else {
            formContainer.style.display = 'none';
        }
    });
    function closeForm() {
    var formContainer = document.getElementById('formContainer');
    formContainer.style.display = 'none';
}
</script> -->
</div>
</body>
</html>


    
