<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../../styles.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://kit.fontawesome.com/6cfb21434c.js" crossorigin="anonymous"></script>
   </head>
   <body>
      <div class="portfolio-home-container">
         <div class="portfolio-content-container">
            <img src="../assets/images/portfolio images/restuarant website developement/restuarant.jpg" alt="restuarant website developement">
            <h1>Restuarant Website Development</h1>
         </div>
      </div>
      <div class="portfolio-contents">
         <h1>Restuarant Website Development</h1>
         <p>Design</p>
      </div>
      <div class="portfolio-container">
         <div class="portfolio-content">
            <div class="portfolio-heading" style="font-weight: 700;">01. Our Services</div>
            <div class="portfolio-paragraph">
               This project involved developing a responsive website for a local restaurant to enhance its online presence and streamline customer interactions. Collaborating closely with the client, we captured the essence of their dining experience through a user-friendly interface. The website features included an online reservation system, menu showcase, and customer testimonials, contributing to a 40% increase in online bookings and positive customer feedback.
            </div>
         </div>
      </div>
      <div class="portfolio-gallery">
         <img src="../assets/images/portfolio images/restuarant website developement/restuarant1.jpg" alt="restuarant1">
         <img src="../assets/images/portfolio images/restuarant website developement/restuarant2.jpg" alt="restuarant2">
         <img src="../assets/images/portfolio images/restuarant website developement/restuarant3.jpg" alt="restuarant3">
      </div>
   </body>
</html>