<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../../styles.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   </head>
   <body>
      <div class="portfolio-home-container">
         <div class="portfolio-content-container">
            <img src="../assets/images/portfolio images/package designing(updated)/packagedesigning.jpg" alt="package designing(updated)">
            <h1>Package Designing(Updated)</h1>
         </div>
      </div>
      <div class="portfolio-contents">
         <h1>Package Designing(Updated)</h1>
         <p>Design</p>
      </div>
      <div class="portfolio-container">
         <div class="portfolio-content">
            <div class="portfolio-heading" style="font-weight: 700;">01. Our Services</div>
            <div class="portfolio-paragraph">
               Our team redesigned the packaging for a line of health food products, focusing on sustainability and aesthetic appeal. We used eco-friendly materials and minimalist design principles to align with the brand’s values and enhance shelf visibility. Iterative feedback sessions ensured the final design met both client expectations and consumer preferences, resulting in a 25% increase in customer satisfaction and improved brand perception.
            </div>
         </div>
      </div>
      <div class="portfolio-gallery">
         <img src="../assets/images/portfolio images/package designing(updated)/packagedesigning1.jpg" alt="package designing(updated)1">
         <img src="../assets/images/portfolio images/package designing(updated)/packagedesigning2.jpg" alt="package designing(updated)1">
         <img src="../assets/images/portfolio images/package designing(updated)/packagedesigning3.jpg" alt="package designing(updated)1">
      </div>
   </body>
</html>