<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design and Development Card</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/6cfb21434c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../styles.css">
    <!-- <script src="index.js" defer></script> -->
    
</head>
<body>
<div>
<!--front-page-->

    <div class="knowmore-top-contaner">
        <div class="redirect-buttons">
            <a routerLink="/influencermarketing/campaignstrategy"><button>campaign strategy</button></a>
            <a routerLink="/influencermarketing/influenceroutreach"><button>influencer outreach</button></a>
            <a routerLink="/influencermarketing/brandpartnership"><button>brand partnership</button></a>
            <a routerLink="/influencermarketing/contentcreation"><button>Content creation</button></a>
        </div>

        <h1>Crafting Effective <br> <span class="shine">Influencer Campaigns</span></h1>
    </div>

    <div class="knowmore-bottom-contaner">    
        <div class="arrow d-flex justify-content-center">
            <img src="../assets/images/hand icon.png"  class="arr-right"/>
            <h1 class="services-ser">Overview</h1>
        </div> 
        <p class="overview-description text-center">At <b>IAM Digipro</b>, we specialize in crafting tailored influencer marketing campaigns that amplify your brand's reach and engagement. Our strategic approach ensures meaningful connections with your target audience through authentic influencer partnerships.</p>

        <div class="container0 d-flex flex-row">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="knowmore-service-card" style="margin-right: 10%;">    
                        <div class="arrow">
                            <img src="../assets/images/hand icon.png"  class="arr-right"/>
                            <h1 class="services-ser">Why Invest in Influencer Campaigns?</h1>
                        </div> 

                        <div class="mb-5">
                            <!-- <h1 class="overview-description pb-4"><b>Investing in influencer campaigns offers significant benefits:</b></h1> -->
                            <ul class="overview-description">
                                <li class="pb-3"><b>Expanded Reach:</b> Tap into new audiences through influencers' dedicated followers.</li>
                                <li class="pb-3"><b>Enhanced Credibility:</b> Build trust and credibility as influencers endorse your brand.</li>
                                <li class="pb-3"><b>Increased Engagement:</b> Drive higher engagement rates through authentic content creation</li>
                                <li class="pb-3"><b>Targeted Exposure:</b> Reach specific demographics aligned with your brand's target audience.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <img src="assets/images/campaign1.avif" alt="campaign-image" class="image"/>
                </div>
            </div>
        </div><br>

        <div class="container0 d-flex flex-row">
            <div class="row">
                <div class="col-12 col-lg-6 d-none d-lg-block">
                    <img src="assets/images/campaign2.avif" alt="campaign-image" class="image"/>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="knowmore-service-card">
                        <div class="arrow">
                            <img src="../assets/images/hand icon.png"  class="arr-right"/>
                            <h1 class="services-ser">Our Approach to Campaign Strategy</h1>
                        </div> 

                        <div class="mb-5">
                            <!-- <h1 class="overview-description pb-4"><b>IAM Digipro's approach to influencer campaign strategy:</b></h1> -->
                            <ul class="overview-description">
                                <li class="pb-3"><b>Strategic Planning:</b> Tailoring campaigns based on your business goals and target audience insights.</li>
                                <li class="pb-3"><b>Influencer Identification:</b> Identifying influencers who align with your brand values and audience demographics.</li>
                                <li class="pb-3"><b>Content Collaboration:</b> Co-creating compelling content that resonates with your audience and aligns with your brand message.</li>
                                <li class="pb-3"><b>Performance Analysis:</b> Measuring campaign performance to optimize strategies for maximum impact.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 d-block d-lg-none">
                    <img src="assets/images/campaign2.avif" alt="campaign-image" class="image"/>
                </div>
            </div>
        </div><br>


        <div class="container0 d-flex flex-row">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="knowmore-service-card"  style="margin-right: 10%;">
                        <div class="arrow">
                            <img src="../assets/images/hand icon.png"  class="arr-right"/>
                            <h1 class="services-ser">Key Challenges in Influencer Campaigns</h1>
                        </div> 

                        <div class="mb-5">
                            <!-- <h1 class="overview-description pb-4"><b>Overcome challenges in influencer campaigns with IAM Digipro:</b></h1> -->
                            <ul class="overview-description">
                                <li class="pb-3"><b>Finding the Right Fit:</b> Matching your brand with influencers who authentically represent your values.</li>
                                <li class="pb-3"><b>Content Authenticity:</b> Ensuring influencer content aligns with your brand's messaging and quality standards.</li>
                                <li class="pb-3"><b>Measurement and ROI:</b> Tracking and measuring campaign effectiveness and return on investment.</li>
                                <li class="pb-3"><b>Compliance and Disclosure:</b> Ensuring compliance with advertising regulations and transparency in sponsored content.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <img src="assets/images/campaign3.jfif" alt="campaign-image" class="image"/>
                </div>
            </div>
        </div><br>

        <div class="container0 d-flex flex-row">
            <div class="row">
                <div class="col-12 col-lg-6 d-none d-lg-block">
                    <img src="assets/images/campaign4.jpg" alt="campaign-image" class="image"/>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="knowmore-service-card">
                        <div class="arrow">
                            <img src="../assets/images/hand icon.png"  class="arr-right"/>
                            <h1 class="services-ser">Why Choose IAM Digipro for Campaign Strategy?</h1>
                        </div> 

                        <div class="mb-5">
                            <!-- <h1 class="overview-description pb-4"><b>Partner with IAM Digipro for your influencer campaigns:</b></h1> -->
                            <ul class="overview-description">
                                <li class="pb-3"><b>Expertise and Experience:</b> Extensive experience in developing and executing successful influencer strategies across various industries.</li>
                                <li class="pb-3"><b>Creative Collaboration:</b> Fostering creative partnerships between brands and influencers to produce compelling content.</li>
                                <li class="pb-3"><b>Measurable Results:</b> Delivering measurable results with a focus on engagement, reach, and brand awareness.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 d-block d-lg-none">
                    <img src="assets/images/campaign4.jpg" alt="campaign-image" class="image"/>
                </div>
            </div>
        </div><br>


        <div class="container0 d-flex flex-row">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="knowmore-service-card"  style="margin-right: 10%;">
                        <div class="arrow">
                            <img src="../assets/images/hand icon.png"  class="arr-right"/>
                            <h1 class="services-ser">Tools We Use</h1>
                        </div> 

                        <div class="mb-5">
                            <!-- <h1 class="overview-description pb-4"><b>We leverage advanced tools and platforms for effective influencer campaign management:</b></h1> -->
                            <ul class="overview-description">
                                <li class="pb-3"><b>Influencer Platforms</b> Like Instagram, YouTube, TikTok, and LinkedIn.</li>
                                <li class="pb-3"><b>Campaign Management:</b> Tools for influencer outreach, content scheduling, and performance analytics.</li>
                                <li class="pb-3"><b>Data Analytics:</b> Tools for measuring campaign metrics and optimizing performance.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <img src="assets/images/campaign5.jpg" alt="campaign-image" class="image"/>
                </div>
            </div>
        </div><br>

        <div class="arrow d-flex justify-content-center">
            <img src="../assets/images/hand icon.png"  class="arr-right"/>
            <h1 class="services-ser">Common Campaign Strategy Challenges for business</h1>
        </div> 
        
        <p class="overview-description text-center"><b>Navigate common Campaign Strategy hurdles with IAM Digipro's expertise</b></p>
        <div class="d-flex flex-row justify-content-center">
            <div class="commmon-seo-card">Adapting to algorithm changes.</div>
            <div class="commmon-seo-card">Overcoming competitive landscapes.</div>
            <div class="commmon-seo-card">Optimizing technical aspects.</div>
            <div class="commmon-seo-card">maintaining high-quality relevant content.</div>
        </div>

        <div class="arrow d-flex justify-content-center">
            <img src="../assets/images/hand icon.png"  class="arr-right"/>
            <h1 class="services-ser">Campaign Strategy Tools</h1>
        </div> 

        <p class="overview-description text-center"><b>Learning Campaign Strategy Tools to Enhance Client success</b></p>
        <div class="d-flex flex-row justify-content-center">
            <img src="assets/images/influencer-marketing/instagram.png" alt="tool-Logo" class="seo-tool-logo"/>
            <img src="assets/images/influencer-marketing/youtube.png" alt="tool-Logo" class="seo-tool-logo"/>
            <img src="assets/images/influencer-marketing/facebook.png" alt="tool-Logo" class="seo-tool-logo"/>
            <!-- <img src="assets/images/Mozlogo.png" alt="tool-Logo" class="seo-tool-logo"/>
            <img src="assets/images/screamingfroglogo.png" alt="tool-Logo" class="seo-tool-logo"/> -->
        </div>

        <p class="overview-description text-center" style="margin-top: 10%;"><i>"Effective influencer campaigns are pivotal in expanding brand reach and fostering meaningful connections with your audience. IAM Digipro combines strategic expertise with creative execution to deliver impactful influencer marketing solutions. Contact us today to elevate your brand through influencer partnerships."</i></p>

    </div>
    <!--enquiry form-->


    <div class="enquiry-container mt-5" style="margin-bottom: 12vw;">
        <div class="enquiry-form">
            <div class="arrow d-flex justify-content-center">
                <img src="../assets/images/hand icon.png"  class="arr-right"/>
                <h1 class="services-ser">Enquiry</h1>
            </div> 

            <div class="left-side">
                <p>Ready to elevate your <br> brand online? <br>
                <span class="span">Get a Free Consultation<br> Today!</span></p>
            </div>
            <div class="enquiry-background-container">
                <h1 class="enquiry-heading">Let's Collab <i class="fa-solid fa-arrow-right" style="color: white;"></i></h1>
            </div>
        </div>
        <div class="enquiry-card-container" style="margin-top: 13vw; margin-bottom: 10vw;">
            <form>
                <h2>I am Interested in</h2>
                <div class="interest-buttons">
                    <div>
                        <button type="button"><span> Marketing</span></button>
                        <button type="button"><span>Web Development</span></button>
                    </div>
                    <div>
                        <button type="button"><span>Graphic Design</span></button>
                        <button type="button"><span>Consulting</span></button>
                        <button type="button"><span>Influencer Marketing</span></button>
                    </div>
                </div>
                <label for="name">I am</label>
                <input type="text" id="name" name="name" placeholder="John" required>
                <label for="Phone">Phone number</label>
                <input type="phone" id="phone" name="phone" required>
                <label for="email">Email <span style="color:rgb(109, 109, 108);">(Optional)</span></label>
                <input type="email" id="email" name="email" placeholder="iam@gmail.com">
                <button type="submit" class="enquiry-send-button"><span>Send</span></button>
            </form>
        </div>
    </div>

    <!-- <div class="wtsapp-icons">
        <a aria-label="Chat on WhatsApp" href="https://wa.me/9381776396"> <i class="fa-brands fa-whatsapp"></i></a>
    </div>


<button class="ct-button" id="openFormButton"><i class="fa-solid fa-circle fa-beat-fade blinking"></i>Let's talk</button>
    
    <div id="formContainer" class="modal-form-container">
        <form class="modal-form">
            
                <i class="fa-solid fa-circle-xmark cl-icon" onclick="closeForm()" style="float: right; color: white;" ></i>
            
            <h1 style="font-size: small; margin: 5px;">I am Interested in</h1>
            <div class="interest-buttons">
                <div>
                    <button type="button" style="font-size: x-small">Digital Marketing</button>
                    <button type="button" style="font-size: x-small">Web Development</button>
                </div>
                <div>
                    <button type="button" style="font-size: x-small">Graphic Design</button>
                    <button type="button" style="font-size: x-small">Consulting</button>
                    <button type="button" style="font-size: x-small">Influencer Marketing</button>
                </div>
            </div>
            <label for="name">I am</label>
            <input type="text" id="name" name="name" placeholder="John" required>
            <label for="phone">Phone number</label>
            <input type="tel" id="phone" name="phone" required>
            <label for="email">Email <span style="color:rgb(109, 109, 108);">(Optional)</span></label>
            <input type="email" id="email" name="email" placeholder="iam@gmail.com">
            <button type="submit" class="enquiry-send-button" style="padding: 10px; margin-right: 15px;font-size: small">Send</button>
        </form>
    </div>

    <script>
    document.getElementById('openFormButton').addEventListener('click', function() {
        var formContainer = document.getElementById('formContainer');
        if (formContainer.style.display === 'none' || formContainer.style.display === '') {
            formContainer.style.display = 'block';
        } else {
            formContainer.style.display = 'none';
        }
    });
    function closeForm() {
    var formContainer = document.getElementById('formContainer');
    formContainer.style.display = 'none';
}
</script> -->
</div>
</body>
</html>