<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../../styles.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   </head>
   <body>
      <div class="portfolio-home-container">
         <div class="portfolio-content-container">
            <img src="../assets/images/portfolio images/package/package.jpg" alt="PackageDesigningImage">
            <h1>Package Designing</h1>
         </div>
      </div>
      <div class="portfolio-contents">
         <h1>Package Designing</h1>
         <p>Design</p>
      </div>
      <div class="portfolio-container">
        <div class="portfolio-content">
           <div class="portfolio-heading" style="font-weight: 700;">01. Our Services</div>
           <div class="portfolio-paragraph">
              Our team was tasked with creating an eco-friendly package design for Product Y, a new line of organic skincare products. We focused on sustainability, using recyclable materials and minimalistic design elements to reflect the product’s natural ingredients. The design process included multiple iterations and client feedback to ensure the final product met both aesthetic and functional requirements. The new packaging not only enhanced the product’s shelf appeal but also reinforced the brand’s commitment to environmental responsibility, resulting in a 25% increase in customer satisfaction.
           </div>
        </div>
     </div>
     <div class="portfolio-gallery">
        <img src="../assets/images/portfolio images/package/package1.jpg" alt="PackageDesigningImage1">
        <img src="../assets/images/portfolio images/package/package2.jpg" alt="PackageDesigningImage1">
        <img src="../assets/images/portfolio images/package/package3.jpg" alt="PackageDesigningImage1">
     </div>
   </body>
</html>