<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../../styles.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://kit.fontawesome.com/6cfb21434c.js" crossorigin="anonymous"></script>
   </head>
   <body>
      <div class="portfolio-home-container">
         <div class="portfolio-content-container">
            <img src="../assets/images/portfolio images/school youtube channel management/SchoolManagement.jpg" alt="SchoolManagement">
            <h1>School YouTube Channel Management</h1>
         </div>
      </div>
      <div class="portfolio-contents">
         <h1>School YouTube Channel Management</h1>
         <p>Design</p>
      </div>
      <div class="portfolio-container">
         <div class="portfolio-content">
            <div class="portfolio-heading" style="font-weight: 700;">01. Our Services</div>
            <div class="portfolio-paragraph">
               Our team managed and optimized the YouTube channel for a local high school, focusing on increasing subscriber engagement and visibility. We curated content aligned with educational goals and school events, ensuring regular updates and maintaining a consistent posting schedule. We implemented SEO strategies, optimized video titles and descriptions, and utilized analytics to track performance metrics. Our efforts resulted in a 50% increase in subscriber count and a notable rise in views and engagement among students, parents, and the community.
            </div>
         </div>
      </div>
      <div class="portfolio-gallery">
         <img src="../assets/images/portfolio images/school youtube channel management/SchoolManagement1.jpg" alt="SchoolManagement1">
         <img src="../assets/images/portfolio images/school youtube channel management/SchoolManagement2.jpg" alt="SchoolManagement2">
         <img src="../assets/images/portfolio images/school youtube channel management/SchoolManagement3.jpg" alt="SchoolManagement3">
      </div>
   </body>
</html>