<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <!--front page-->
    <div class="services-top-container">
      <div class="redirect-buttons">
         <a routerLink="/digitalmarketing"><button>Digital Marketing</button></a>
           <a routerLink="/webappdevelopment"><button>Web Development</button></a>
           <a routerLink="/graphicuidesign"><button>Graphic Design</button></a>
           <a routerLink="/consulting"><button>Consulting</button></a>
           <a routerLink="/influencermarketing"><button>Influencer Marketing</button></a>
     </div>
        <div class="content">
           <div class="row">
              <div class="column left col-12 col-lg-6">
                 <h1>Job Opportunity</h1>
                 <p>Our digital marketing services are tailored to enhance your online presence and drive engagement. We utilize the latest strategies in SEO, social media marketing, content marketing, and paid advertising to reach your target audience effectively and boost your brand visibility.</p>
              </div>
              <div class="column middle col-12 col-lg-3">
                 <div class="included">
                    <h2>INCLUDED:</h2>
                    <ul>
                       <li>Search Engine Optimization</li>
                       <li>Pay-Per-Click</li>
                       <li>Social Media Marketing</li>
                       <li>Content Marketing</li>
                       <li>Email Marketing</li>
                    </ul>
                 </div>
              </div>
              <div class="column end col-12 col-lg-3">
                 <div class="start-project-container">
                    <p>Interested? <br>Let's connect and</p>
                    <button>Start Project</button>
                 </div>
              </div>
           </div>
        </div>
    </div>

    <div class="job-assistance-container" id="jobAssistanceSection">
      <div class="inner-container">
          <!-- <div class="d-flex justify-content-center">
              <i class="fa-solid fa-arrow-right arr-right"></i>
              <h1 class="services-ser1">Job Assistance</h1>
          </div>            -->
          <h1 class="job-heading">Job Assistance provided by IAM DIGIPRO</h1>
          <p  class="job-description">At IAM DIGIPRO, we are committed to not only providing you with top-notch digital marketing education but also supporting your career growth every step of the way. Our comprehensive job assistance program is designed to help you seamlessly transition from student to professional.</p>
          <div class="services">
              <div>
                  <button>Career Counseling</button>
                  <button>Resume Building</button>
                  <button>Interview Preparation</button>
              </div>
              <div>
                  <button>Job Placement Support</button>
                  <button>Networking Opportunities</button>
                  <button>Continued Learning</button>
              </div>
          </div>
          <div class="d-flex justify-content-center mt-5">
              <button class="app-btn">Apply now</button>
          </div>
      </div>
  </div><br><br><br>

    <!--case studies-->
    <div>
        <!---<div class="arrow" style="margin-top: 100px; margin-left: 40px;">
           <i class="fa-solid fa-arrow-right arr-right"></i>
           <h1 class="services-ser">Case Studies</h1>
        </div>-->
        <div class="d-flex flex-row justify-content-center" style="margin-bottom: 100px;">
           <div class="case-studies-container">
              <img src="https://st2.depositphotos.com/2119479/7679/i/950/depositphotos_76796041-stock-photo-digital-marketing.jpg" style="width:100%">
              <!-- <button class="explore-button">Explore <i class="fa-solid fa-arrow-right arr-right right"></i></button> -->
           </div>
        </div>
    </div>
    
    <!--enquiry form-->
    <div class="enquiry-container mt-5" style="margin-bottom: 12vw;">
        <div class="enquiry-form">
           <!---<div class="arrow" style="margin-bottom: 5vw;">
              <i class="fa-solid fa-arrow-right arr-right"></i>
              <h1 class="services-ser">Enquiry</h1>
           </div>--->
           <div class="left-side">
              <p>Ready to elevate your <br> brand online? <br>
                 <span class="span">Get a Free Consultation<br> Today!</span>
              </p>
           </div>
           <div class="enquiry-background-container">
              <h1 class="enquiry-heading">Let's Collab <i class="fa-solid fa-arrow-right" style="color: white;"></i></h1>
           </div>
        </div>
        <div class="enquiry-card-container" style="margin-top: 13vw; margin-bottom: 10vw;">
           <form>
              <h2>I am Interested in</h2>
              <div class="interest-buttons">
                 <div>
                    <button type="button"><span> Marketing</span></button>
                    <button type="button"><span>Web Development</span></button>
                 </div>
                 <div>
                    <button type="button"><span>Graphic Design</span></button>
                    <button type="button"><span>Consulting</span></button>
                    <button type="button"><span>Influencer Marketing</span></button>
                 </div>
              </div>
              <label for="name">I am</label>
              <input type="text" id="name" name="name" placeholder="John" required>
              <label for="Phone">Phone number</label>
              <input type="phone" id="phone" name="phone" required>
              <label for="email">Email <span style="color:rgb(109, 109, 108);">(Optional)</span></label>
              <input type="email" id="email" name="email" placeholder="iam@gmail.com">
              <button type="submit" class="enquiry-send-button"><span>Send</span></button>
           </form>
        </div>
    </div>
    <!--footer-->
   </body>
</html>
