<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>    
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
      <link rel="stylesheet" href="../../styles.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://kit.fontawesome.com/6cfb21434c.js" crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/a199c68c5e.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
   </head>
   <body>
      <section class="success-stories">
         <div class="container-1">
            <h1 class="head-1">Our Success Stories</h1>
            <p class="para-1">Showcasing the Impact of IAM DIGIPRO's Expertise</p>
         </div>
      </section>
      <div class="filters-container">
         <div class="filters">
            <button class="filter" (click)="showMode('all')" style="background-color: black; color: white;">All</button>
            <button class="filter" (click)="showMode('social-media-post')">Social Media Post</button>
            <button class="filter" (click)="showMode('package-designing')">Package Designing</button>
            <button class="filter" (click)="showMode('youtube-management')">School YouTube Channel Management</button>
            <button class="filter" (click)="showMode('package-designing-updated')">Package Designing (Updated)</button>
            <button class="filter" (click)="showMode('restaurant-website')">Restaurant Website Development</button>
            <button class="filter" (click)="showMode('digital-marketing')">Digital Marketing Strategy</button>
         </div>
      </div>
      <div class="portfolio-card-container">
         <div class="portfolio-box" *ngFor="let card of filteredCards">
            <a [href]="card.link">
            <img [src]="card.image" alt="{{card.title}}" class="portfolio-card-image">
            </a>
            <div class="portfolio-text-container">
               <h2>{{ card.title }}</h2>
               <div class="portfolio-subtitle">Design</div>
            </div>
         </div>
      </div>
      <div class="mid-container">
         <div class="grid-item2">
            <h1>You Request. <br>We Build!</h1>
            <h2>We start every project by listening to understand your needs so we can give you the time, attention, and care you deserve.</h2>
         </div>
      </div>
      <div class="content">
         <div *ngIf="visibleSection === 1" (click)="toggleSection(1)">
         <div class="sercives-container">
            <div class="service-container1">
               <div class="service-container2">
                  <div class="arrow d-flex justify-content-left">
                     <img src="../assets/images/hand icon.png"  class="arr-right"/>
                     <h1 class="services-ser">Services</h1>
                </div>
                  <h2 class="ser-hed">What we offer</h2>
               </div>
               <div class="card-ser-container">
                  <div class="list-ser">
                     <p class="ser-para">01</p>
                     <h3 class="dig-head">Digital Marketing</h3>
                     <p class="ser-par">We enhance your online presence and drive engagement through advanced SEO, social media, content marketing, and paid advertising strategies.</p>
                     <div>
                        <a routerLink="/digital-marketing/seo"><button class="btn-option">Search Engine Optimization</button></a>
                        <a routerLink="/digital-marketing/ppc"><button class="btn-option">Pay-Per-Click</button></a>
                        <a routerLink="/digital-marketing/smm"><button class="btn-option">Social Media Marketing</button></a>
                        <a routerLink="/digital-marketing/content-marketing"><button class="btn-option">Content Marketing</button></a>
                        <a routerLink="/digital-marketing/email-marketing"><button class="btn-option">Email Marketing</button></a>
                     </div>
                     <div class="btn-container">
                        <a routerLink="/digital-marketing"><button class="explore-button">Explore <i class="fa-solid fa-arrow-right explore-arr right"></i></button></a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="explore-container">
               <div>
                  <h2 class="ser-hed">What you get</h2>
                  <img src="../assets/images/digitalmarketingrevenue.png" alt="digitalmarketingrevenue">
               </div>
            </div>
         </div>
      </div>
      <div *ngIf="visibleSection === 2" (click)="toggleSection(2)">
      <div class="sercives-container">
         <div class="service-container1">
            <div class="service-container2">
               <div class="arrow d-flex justify-content-left">
                  <img src="../assets/images/hand icon.png"  class="arr-right"/>
                  <h1 class="services-ser">Services</h1>
             </div>
               <h2 class="ser-hed">What we offer</h2>
            </div>
            <div class="card-ser-container">
               <div class="list-ser">
                  <p class="ser-para">02</p>
                  <h3 class="dig-head">Web/App
                     <br/>Development
                  </h3>
                  <p class="ser-par">We create responsive, user-friendly websites using the latest technologies to ensure they are fast, secure, and scalable.</p>
                  <div>
                     <a routerLink="/webappdevelopment/frontend"><button class="btn-option">Frontend Developer</button></a>
                     <a routerLink="/webappdevelopment/backend"><button class="btn-option">Backend Developer</button></a>
                     <a routerLink="/webappdevelopment/fullstack"><button class="btn-option">Full-stack Developer</button></a>
                     <a routerLink="/webappdevelopment/appdev"><button class="btn-option">App Developer</button></a>
                  </div>
                  <div class="btn-container">
                     <a routerLink="/webappdevelopment"><button class="explore-button">Explore <i class="fa-solid fa-arrow-right explore-arr right"></i></button></a>
                  </div>
               </div>
            </div>
         </div>
         <div class="explore-container section2">
            <div>
               <h2 class="ser-hed">What you get</h2>
               <img src="../assets/images/trendingservices.png" alt="trendingservices">
            </div>
         </div>
      </div>
      </div>
      <div *ngIf="visibleSection === 3" (click)="toggleSection(3)">
      <div class="sercives-container">
         <div class="service-container1">
            <div class="service-container2">
               <div class="arrow d-flex justify-content-left">
                  <img src="../assets/images/hand icon.png"  class="arr-right"/>
                  <h1 class="services-ser">Services</h1>
             </div>
               <h2 class="ser-hed">What we offer</h2>
            </div>
            <div class="card-ser-container">
               <div class="list-ser">
                  <p class="ser-para">03</p>
                  <h3 class="dig-head">Graphic / UI 
                     <br/>Design
                  </h3>
                  <p class="ser-par">Our graphic design services establish a strong brand identity with visually stunning, high-quality designs that captivate and engage your audience.</p>
                  <div>
                     <a routerLink="/graphicuidesign/branding"><button class="btn-option">Branding</button></a>
                     <a routerLink="/graphicuidesign/logodesign"><button class="btn-option">Logo Design</button></a>
                     <a routerLink="/graphicuidesign/uiuxdesign"><button class="btn-option">UI/UX Design</button></a>
                  </div>
                  <div class="btn-container">
                     <a routerLink="/graphicuidesign"><button class="explore-button">Explore <i class="fa-solid fa-arrow-right explore-arr right"></i></button></a>
                  </div>
               </div>
            </div>
         </div>
         <div class="explore-container section3">
            <div>
               <h2 class="ser-hed">What you get</h2>
               <img src="../assets/images/percentagebreakdown.png" alt="percentagebreakdown">
            </div>
         </div>
      </div>
      </div>
      <div *ngIf="visibleSection === 4" (click)="toggleSection(4)">
      <div class="sercives-container">
         <div class="service-container1">
            <div class="service-container2">
               <div class="arrow d-flex justify-content-left">
                  <img src="../assets/images/hand icon.png"  class="arr-right"/>
                  <h1 class="services-ser">Services</h1>
             </div>
               <h2 class="ser-hed">What we offer</h2>
            </div>
            <div class="card-ser-container">
               <div class="list-ser">
                  <p class="ser-para">04</p>
                  <h3 class="dig-head">Consulting</h3>
                  <p class="ser-par">Our consulting services offer expert advice and strategic insights to help with digital transformation, process optimization, and strategic planning.</p>
                  <div>
                     <a routerLink="/consulting/businessstrategy"><button class="btn-option">Business Strategy</button></a>
                     <a routerLink="/consulting/digitaltranformantion"><button class="btn-option">Digital Transformation</button></a>
                  </div>
                  <div class="btn-container">
                     <a routerLink="/consult-us"><button class="explore-button">Explore <i class="fa-solid fa-arrow-right explore-arr right"></i></button></a>
                  </div>
               </div>
            </div>
         </div>
         <div class="explore-container section4">
            <div>
               <h2 class="ser-hed">What you get</h2>
               <img src="../assets/images/percentagebreakdownprojects.png" alt="percentagebreakdownprojects">
            </div>
         </div>
      </div>
      </div>
      <div *ngIf="visibleSection === 5" (click)="toggleSection(5)">
      <div class="sercives-container">
         <div class="service-container1">
            <div class="service-container2">
               <div class="arrow d-flex justify-content-left">
                  <img src="../assets/images/hand icon.png"  class="arr-right"/>
                  <h1 class="services-ser">Services</h1>
             </div>
               <h2 class="ser-hed">What we offer</h2>
            </div>
            <div class="card-ser-container">
               <div class="list-ser">
                  <p class="ser-para">05</p>
                  <h3 class="dig-head">Influencer
                     <br/>Marketing
                  </h3>
                  <p class="ser-par">We connect you with the right influencers to amplity your brand's message and reach a wider audience through data-driven, tailored strategies for maximum impact and ROl.</p>
                  <div>
                     <a routerLink="/influencermarketing/campaignstrategy"><button class="btn-option">Campaign Strategy</button></a>
                     <a routerLink="/influencermarketing/influenceroutreach"><button class="btn-option">Influencer Outreach</button></a>
                     <a routerLink="/influencermarketing/brandpartnership"><button class="btn-option">Brand Partnership</button></a>
                     <a routerLink="/influencermarketing/contentcreation"><button class="btn-option">Content Creating</button></a>
                  </div>
                  <div class="btn-container">
                     <a routerLink="/influencermarketing"><button class="explore-button">Explore <i class="fa-solid fa-arrow-right explore-arr right"></i></button></a>
                  </div>
               </div>
            </div>
         </div>
         <div class="explore-container section5">
            <div>
               <h2 class="ser-hed">What you get</h2>
               <img src="../assets/images/resultsfromclients.png" alt="resultsfromclients">
            </div>
         </div>
      </div>
      </div>
      </div>
   </body>
</html>