<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design and Development Card</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/6cfb21434c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../styles.css">
    <!-- <script src="index.js" defer></script> -->
    
</head>
<body>
<div>
<!--front-page-->

    <div class="knowmore-top-contaner">
        <div class="redirect-buttons">
            <a routerLink="/webappdevelopment/frontend"><button>Frontend</button></a>
            <a routerLink="/webappdevelopment/backend"><button>Backend</button></a>
            <a routerLink="/webappdevelopment/fullstack"><button>Full stack</button></a>
            <a routerLink="/webappdevelopment/appdev"><button>App Dev</button></a>
        </div>
        <h1>Drive Traffic and Grow Your Business with<br>Expert <span class="shine">Back End Development Services</span></h1>
    </div>

    <div class="knowmore-bottom-contaner">    
        <div class="arrow d-flex justify-content-center" style="margin-left: 40px;">
            <img src="../assets/images/hand icon.png"  class="arr-right"/>
            <h1 class="services-ser">Overview</h1>
        </div>
        <p class="overview-description text-center">At <b>IAM Digipro</b>, we specialize in creating robust and scalable back end systems that power your website and ensure seamless functionality.</p>

        <div class="container0 d-flex flex-row">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="knowmore-service-card" style="margin-right: 10%;">  
                        <div class="arrow">
                            <img src="../assets/images/hand icon.png"  class="arr-right"/>
                            <h1 class="services-ser">Why Back End Development is Crucial for Your Business</h1>
                        </div>  

                        <div class="mb-5">
                            <!-- <h1 class="overview-description pb-4"><b>Investing in back end development offers numerous benefits:</b></h1> -->
                            <ul class="overview-description">
                                <li class="pb-3">Enhanced website performance and faster load times.</li>
                                <li class="pb-3">Improved data management and storage solutions.</li>
                                <li class="pb-3">Increased security to protect sensitive information.</li>
                                <li class="pb-3">Seamless integration with third-party services and APIs.</li>
                                <li class="pb-3">Scalability to support business growth and handle increased traffic.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <img src="assets/images/backend1.jpg" alt="back-end-image" class="image"/>
                </div>
            </div>
        </div><br>

        <div class="container0 d-flex flex-row">
            <div class="row">
                <div class="col-12 col-lg-6 d-none d-lg-block">
                    <img src="assets/images/backend2.jpg" alt="back-end-image" class="image"/>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="knowmore-service-card">
                        <div class="arrow">
                            <img src="../assets/images/hand icon.png"  class="arr-right"/>
                            <h1 class="services-ser">Our Back End Development Services</h1>
                        </div>

                        <div class="mb-5">
                            <h1 class="overview-description pb-4"><b>Transform your website’s functionality with IAM Digipro's comprehensive back end development services:</b></h1>
                            <ul class="overview-description">
                                <li class="pb-3"><b>Database Management:</b> Designing and maintaining efficient databases for secure data storage and retrieval.</li>
                                <li class="pb-3"><b>API Development:</b> Creating custom APIs to facilitate communication between different parts of your system.</li>
                                <li class="pb-3"><b>Server-Side Scripting:</b> Implementing server-side logic using languages like Python, PHP, and Node.js.</li>
                                <li class="pb-3"><b>Security Enhancements:</b> Implementing robust security measures to protect against cyber threats.</li>
                                <li class="pb-3"><b>Performance Optimization:</b> Ensuring your website can handle high traffic and perform optimally.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 d-block d-lg-none">
                    <img src="assets/images/backend2.jpg" alt="back-end-image" class="image"/>
                </div>
            </div>
        </div><br>

        <div class="container0 d-flex flex-row">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="knowmore-service-card"  style="margin-right: 10%;">
                        <div class="arrow">
                            <img src="../assets/images/hand icon.png"  class="arr-right"/>
                            <h1 class="services-ser">Common Challenges in Back End Development</h1>
                        </div>

                        <div class="mb-5">
                            <h1 class="overview-description pb-4"><b>Overcome common back end development challenges with IAM Digipro:</b></h1>
                            <ul class="overview-description">
                                <li class="pb-3">•	Managing and scaling databases efficiently.</li>
                                <li class="pb-3">Ensuring robust security against data breaches and cyber attacks.</li>
                                <li class="pb-3">Integrating with various third-party services and APIs.</li>
                                <li class="pb-3">Handling high traffic loads without compromising performance.</li>
                                <li class="pb-3">Keeping up with the latest technologies and best practices.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <img src="assets/images/backend3.jpg" alt="back-end-image" class="image"/>
                </div>
            </div>
        </div><br>

        <div class="arrow d-flex justify-content-center">
            <img src="../assets/images/hand icon.png"  class="arr-right"/>
            <h1 class="services-ser">Why Choose IAM Digipro for Back End Development?</h1>
        </div>
        
        <p class="overview-description text-center"><b>Partner with IAM Digipro and benefit from:</b></p>
        <div class="d-flex flex-row justify-content-center">
            <div class="commmon-seo-card">Expertise in cutting-edge back end technologies and development practices.</div>
            <div class="commmon-seo-card">A proven track record of delivering secure, scalable, and high-performance websites.</div>
            <div class="commmon-seo-card">Tailored solutions that meet your unique business needs and goals.</div>
            <div class="commmon-seo-card">A collaborative approach that values your input and vision.</div>
        </div>

        <div class="arrow d-flex justify-content-center">
            <img src="../assets/images/hand icon.png"  class="arr-right"/>
            <h1 class="services-ser">Back End Development Tools</h1>
        </div>

        <p class="overview-description text-center"><b>Learning Back End Development Tools to Enhance Client success</b></p>
        <div class="d-flex flex-row justify-content-center">
            <img src="assets/images/Semrushlogo.png" alt="tool-Logo" class="seo-tool-logo"/>
            <img src="assets/images/ahrefslogo.webp" alt="tool-Logo" class="seo-tool-logo"/>
            <img src="assets/images/GoogleAnalyticslogo.png" alt="tool-Logo" class="seo-tool-logo"/>
            <img src="assets/images/Mozlogo.png" alt="tool-Logo" class="seo-tool-logo"/>
            <img src="assets/images/screamingfroglogo.png" alt="tool-Logo" class="seo-tool-logo"/>
        </div>

        <p class="overview-description text-center" style="margin-top: 10%;"><i>"Effective back end development is essential for a functional and secure website. IAM Digipro combines technical expertise with innovative solutions to deliver exceptional back end services. Reach out to us today to elevate your website’s performance and security."</i></p>

    </div>
    <!--enquiry form-->


    <div class="enquiry-container mt-5" style="margin-bottom: 12vw;">
        <div class="enquiry-form">
            <div class="arrow d-flex justify-content-center">
                <img src="../assets/images/hand icon.png"  class="arr-right"/>
                <h1 class="services-ser">Enquiry</h1>
            </div>

            <div class="left-side">
                <p>Ready to elevate your <br> brand online? <br>
                <span class="span">Get a Free Consultation<br> Today!</span></p>
            </div>
            <div class="enquiry-background-container">
                <h1 class="enquiry-heading">Let's Collab <i class="fa-solid fa-arrow-right" style="color: white;"></i></h1>
            </div>
        </div>
        <div class="enquiry-card-container" style="margin-top: 13vw; margin-bottom: 10vw;">
            <form>
                <h2>I am Interested in</h2>
                <div class="interest-buttons">
                    <div>
                        <button type="button"><span> Marketing</span></button>
                        <button type="button"><span>Web Development</span></button>
                    </div>
                    <div>
                        <button type="button"><span>Graphic Design</span></button>
                        <button type="button"><span>Consulting</span></button>
                        <button type="button"><span>Influencer Marketing</span></button>
                    </div>
                </div>
                <label for="name">I am</label>
                <input type="text" id="name" name="name" placeholder="John" required>
                <label for="Phone">Phone number</label>
                <input type="phone" id="phone" name="phone" required>
                <label for="email">Email <span style="color:rgb(109, 109, 108);">(Optional)</span></label>
                <input type="email" id="email" name="email" placeholder="iam@gmail.com">
                <button type="submit" class="enquiry-send-button"><span>Send</span></button>
            </form>
        </div>
    </div>

    <!-- <div class="wtsapp-icons">
        <a aria-label="Chat on WhatsApp" href="https://wa.me/9381776396"> <i class="fa-brands fa-whatsapp"></i></a>
    </div>


<button class="ct-button" id="openFormButton"><i class="fa-solid fa-circle fa-beat-fade blinking"></i>Let's talk</button>
    
    <div id="formContainer" class="modal-form-container">
        <form class="modal-form">
            
                <i class="fa-solid fa-circle-xmark cl-icon" onclick="closeForm()" style="float: right; color: white;" ></i>
            
            <h1 style="font-size: small; margin: 5px;">I am Interested in</h1>
            <div class="interest-buttons">
                <div>
                    <button type="button" style="font-size: x-small">Digital Marketing</button>
                    <button type="button" style="font-size: x-small">Web Development</button>
                </div>
                <div>
                    <button type="button" style="font-size: x-small">Graphic Design</button>
                    <button type="button" style="font-size: x-small">Consulting</button>
                    <button type="button" style="font-size: x-small">Influencer Marketing</button>
                </div>
            </div>
            <label for="name">I am</label>
            <input type="text" id="name" name="name" placeholder="John" required>
            <label for="phone">Phone number</label>
            <input type="tel" id="phone" name="phone" required>
            <label for="email">Email <span style="color:rgb(109, 109, 108);">(Optional)</span></label>
            <input type="email" id="email" name="email" placeholder="iam@gmail.com">
            <button type="submit" class="enquiry-send-button" style="padding: 10px; margin-right: 15px;font-size: small">Send</button>
        </form>
    </div>

    <script>
    document.getElementById('openFormButton').addEventListener('click', function() {
        var formContainer = document.getElementById('formContainer');
        if (formContainer.style.display === 'none' || formContainer.style.display === '') {
            formContainer.style.display = 'block';
        } else {
            formContainer.style.display = 'none';
        }
    });
    function closeForm() {
    var formContainer = document.getElementById('formContainer');
    formContainer.style.display = 'none';
}
</script> -->
</div>
</body>
</html>


    


