<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../../styles.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://kit.fontawesome.com/6cfb21434c.js" crossorigin="anonymous"></script>
   </head>
   <body>
      <div class="portfolio-home-container">
         <div class="portfolio-content-container">
            <img src="../assets/images/portfolio images/digital marketing strategy/DigitalMarketing.jpg" alt="DigitalMarketing">
            <h1>Digital Marketing Strategy</h1>
         </div>
      </div>
      <div class="portfolio-contents">
         <h1>Digital Marketing Strategy</h1>
         <p>Design</p>
      </div>
      <div class="portfolio-container">
         <div class="portfolio-content">
            <div class="portfolio-heading" style="font-weight: 700;">01. Our Services</div>
            <div class="portfolio-paragraph">
               Our team developed an integrated digital marketing strategy for a small business to drive online engagement and increase conversions. We conducted market research to identify target audience segments and their preferences. Based on insights gathered, we implemented SEO optimization, PPC campaigns, social media advertising, and email marketing initiatives. The strategy resulted in a 60% increase in website traffic and a 35% improvement in lead generation, demonstrating the effectiveness of our data-driven approach and tailored content strategies.
            </div>
         </div>
      </div>
      <div class="portfolio-gallery">
         <img src="../assets/images/portfolio images/digital marketing strategy/DigitalMarketing1.jpg" alt="DigitalMarketing1">
         <img src="../assets/images/portfolio images/digital marketing strategy/DigitalMarketing2.jpg" alt="DigitalMarketing2">
         <img src="../assets/images/portfolio images/digital marketing strategy/DigitalMarketing3.jpg" alt="DigitalMarketing3">
      </div>
   </body>
</html>